


<form action="" method="post" id="SetColumn">

    <table style="width:99%; font-size:12px; color:black;border:0px solid #CCD5F0 ; background-color:white; " border="1">
        <tr>
            <th>DML Column</th>
            <th>Field Caption</th>
            <th>Operator</th>
            <th>Compare to Value</th>
            <th>Error Message</th>


        </tr>


        <tr>


            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>


                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>

                <select name="operatorid" style="width:100%;">
                    <option value="0">Select Operator</option>
                </select>

            </td>
            <td> <input type="text" name="valueexpression" value="" /></td>
            <td> <input type="text" name="errormessage" value="" /></td>





        </tr>
        <tr>


            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>


                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>

                <select name="operatorid" style="width:100%;">
                    <option value="0">Select Operator</option>
                </select>

            </td>
            <td> <input type="text" name="valueexpression" value="" /></td>
            <td> <input type="text" name="errormessage" value="" /></td>





        </tr>




    </table>

</form>


