


<form action="" method="post" id="SetColumn">

    <table style="width:99%; font-size:12px; color:black;border:0px solid #CCD5F0 ; background-color:white; " border="1">
        <tr>
           
            <th>Decending?</th>
            <th>Aggregate Function</th>


        </tr>
        <tr>

   
            <td>
                <input type="checkbox" name="name" value="1" />
            </td>

            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select  Function</option>


                </select>
            </td>



        </tr>
        <tr>


            <td>
                <input type="checkbox" name="name" value="1" />
            </td>

            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select  Function</option>


                </select>
            </td>



        </tr>




    </table>

</form>


