
<form action="" method="post" id="SetColumn">

    <table style="width:99%; font-size:12px; color:black;border:0px solid #CCD5F0 ; background-color:white; " border="1">
        <tr>

            <th>Field Caption</th>
            <th>Flat LOV Field</th>
            <th>Filter By Parent Form Field</th>

        </tr>


        <tr>




            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select name="parentcolumn" style="width:100%;">
                    <option value="0">Select Flat Lov Field</option>
                </select>
            </td>
            <td>
                <select name="ddldatasource" style="width:100%;">
                    <option value="0">Select Parent Data Source</option>
                </select>
            </td>


        </tr>

        <tr>




            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select name="parentcolumn" style="width:100%;">
                    <option value="0">Select Flat Lov Field</option>
                </select>
            </td>
            <td>
                <select name="ddldatasource" style="width:100%;">
                    <option value="0">Select Parent Data Source</option>
                </select>
            </td>


        </tr>



    </table>

</form>


