



<form action="" method="post" id="SetColumn">

    <table style="width:99%; font-size:12px; color:black;border:0px solid #CCD5F0 ; background-color:white; " border="1">
        <tr>
            <th>DML Column</th>
            <th>Field Caption</th>
            <th>Panel</th>
            <th>Row Position</th>
            <th>Column Position</th>
            <th>Width</th>
            <th>Grid View?</th>
            <th>LOV View?</th>
            <th>Grid SL.</th>
            <th>Report SL.</th>


        </tr>
        <tr>



            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>


                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select style="width:100%; " name="controltype[0]">
                    <option value="0">Select Panel</option>


                </select>
            </td>
            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select Row</option>
                    <option value="1">1st Row</option>
                    <option value="2">2nd Row</option>


                </select>
            </td>


            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select Column</option>
                    <option value="1">1st Row</option>
                    <option value="2">2nd Row</option>


                </select>
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>


            <td>
                <input type="checkbox" name="name" value="1" />
            </td>
            <td>
                <input type="checkbox" name="name" value="1" />
            </td>

            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>
         


        </tr>
        <tr>



            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>


                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select style="width:100%; " name="controltype[0]">
                    <option value="0">Select Panel</option>


                </select>
            </td>
            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select Row</option>
                    <option value="1">1st Row</option>
                    <option value="2">2nd Row</option>


                </select>
            </td>


            <td>
                <select style="width:100%; " name="columnproperty[0]">
                    <option value="0">Select Column</option>
                    <option value="1">1st Row</option>
                    <option value="2">2nd Row</option>


                </select>
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>


            <td>
                <input type="checkbox" name="name" value="1" />
            </td>
            <td>
                <input type="checkbox" name="name" value="1" />
            </td>

            <td>
                <input type="text" name="name" value="" />
            </td>
            <td>
                <input type="text" name="name" value="" />
            </td>



        </tr>




    </table>

</form>


