
<form action="" method="post" id="SetColumn">

    <table style="width:99%; font-size:12px; color:black;border:0px solid #CCD5F0 ; background-color:white; " border="1">
        <tr>
            <th>DML Column</th>
            <th>Field Caption</th>
            <th>Parent Dropdown</th>
            <th>Data Source</th>
            <th>Popup LOV Table</th>
            <th>Dropdown Table</th>
            <th>Value Column</th>
            <th>Text Column</th>
            <th>Text Column(Expr)</th>
            <th>Where</th>
            <th>Order By</th>
            <th>Sql Expr</th>
        </tr>


        <tr>


            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>

                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select name="parentcolumn" style="width:100%;">
                    <option value="0">Select Parent Column</option>
                </select>
            </td>
            <td>
                <select name="ddldatasource" style="width:100%;">
                    <option value="0">Select Parent Data Source</option>
                </select>
            </td>
            <td>
                <select name="lovtableid" style="width:100%;">
                    <option value="0">Select LOV</option>
                </select>
            </td>
            <td>
                <select name="tablename" style="width:100%;">
                    <option value="0">Select Dropdown Table</option>
                </select>
            </td>
            <td>
                <select name="columnvalue" style="width:100%;">
                    <option value="0">Select Column value </option>
                </select>
            </td>
            <td>
                <select name="columntext" style="width:100%;">
                    <option value="0">Select Column Text</option>
                </select>
            </td>

            <td> <input type="text" name="columntextexp" value="" style="width:100%;" /></td>
            <td> <input type="text" name="whereexpression" value="" style="width:100%;" /></td>
            <td> <input type="text" name="orderbyexpression" value="" style="width:100%;" /></td>
            <td> <input type="text" name="sqlexpression" value="" style="width:100%;" /></td>

        </tr>
        <tr>


            <td>
                <select style="width:100%; " name="column[0]">
                    <option value="0">DML Column</option>

                </select>
            </td>


            <td><input type="text" name="columnname[0]" value="" /></td>
            <td>
                <select name="parentcolumn" style="width:100%;">
                    <option value="0">Select Parent Column</option>
                </select>
            </td>
            <td>
                <select name="ddldatasource" style="width:100%;">
                    <option value="0">Select Parent Data Source</option>
                </select>
            </td>
            <td>
                <select name="lovtableid" style="width:100%;">
                    <option value="0">Select LOV</option>
                </select>
            </td>
            <td>
                <select name="tablename" style="width:100%;">
                    <option value="0">Select Dropdown Table</option>
                </select>
            </td>
            <td>
                <select name="columnvalue" style="width:100%;">
                    <option value="0">Select Column value </option>
                </select>
            </td>
            <td>
                <select name="columntext" style="width:100%;">
                    <option value="0">Select Column Text</option>
                </select>
            </td>

            <td> <input type="text" name="columntextexp" value="" style="width:100%;" /></td>
            <td> <input type="text" name="whereexpression" value="" style="width:100%;" /></td>
            <td> <input type="text" name="orderbyexpression" value="" style="width:100%;" /></td>
            <td> <input type="text" name="sqlexpression" value="" style="width:100%;" /></td>

        </tr>




    </table>

</form>


