


<tr>
    <td style="text-align:center;padding:0px;">
        <a href="#" class="btn m-0  " style="padding:0px 2.2px 0px 2.2px; background-color:forestgreen; font-weight:200; color:white; 
            font-size:12px; border:1px solid #5d6b99; border-radius:50%;" id=@ViewBag.DmlColumn onclick="SelectDmlColumn('@ViewBag.DmlColumn',@ViewBag.TableId)">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </td>
    <td>
        @ViewBag.DmlColumn
    </td>
</tr>
